{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>
    {% translate "Groups" %}
    <a class="btn btn-primary btn-sm" href="{% url 'care-group-create' %}">
        <i class="bi bi-plus-circle"></i>
        {% translate "Create" %}
    </a>
</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for group in user.care_groups.all %}
    <div class="col">
        <div class="card h-100">
            <img
                src="https://source.unsplash.com/VMGAbeeJTKo/200x200"
                class="img-fluid rounded-start"
                alt="..."
            />
            <div class="card-body">
                <p class="card-title">{{ group }}</p>
                <a href="{% url 'care-group-detail' group.id %}" class="btn btn-primary">
                    {% translate "View" %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock content %}