{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block content %}
<h1>
    {% translate "Groups" %}
    <a class="btn btn-primary btn-sm" href="{% url 'care-group-create' %}">
        <i class="bi bi-plus-circle"></i>
        {% translate "Create" %}
    </a>
</h1>

<div class="row row-cols-2 g-4">
    {% for membership in user.care_group_memberships.all %}
    <div class="col">
        <div class="card h-100">
            <img
                src="{{ membership.care_group.photo|thumbnail_url:'square_thumbnail_200' }}"
                class="img-fluid rounded-start"
                alt="{{ membership.care_group.name }} care group photo"
            />
            <div class="card-body">
                <h2 class="card-title">{{ membership.care_group }}</h2>
                <a href="{% url 'care-group-detail' membership.care_group.id %}" class="btn btn-primary stretched-link">
                    {% translate "View" %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock content %}