{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>
    {{ group }}
    <a class="btn btn-outline-primary btn-sm" href="{% url 'care-group-update' group.id %}">
        <i class="bi bi-pencil"></i>
        {% translate "Edit" %}
    </a>
</h1>

<div class="row">
    <div class="col">
        <h2>
            {% translate "Activities" %}
        </h2>
        {% if group.activities.count %}
            {% for activity in group.activities.all %}
            <div class="card">
                <div class="card-body">
                    <p class="card-title">{{ activity }}</p>
                    <p class="text-muted mb-0">{{ activity.activity_date }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <p>{% translate "No activities found." %}</p>
        {% endif %}
    </div>

    {% if group.members.count %}
        <div class="col-md-4 mt-2">
            <h2>
                {% translate "Members" %}
            </h2>

            {% for member in group.members.all %}
                {{ member}}
            {% endfor %}
        </div>
    {% endif %}    
</div>
{% endblock content %}
