{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Sign up" %}{% endblock title %}

{% block content %}
    <h1>{% translate "Sign up" %}</h1>

    <form action="" method="post">
        {% csrf_token %}

        {% if next is not None %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">{% translate "Sign up" %}</button>
    </form>
{% endblock content %}