{% extends "base.html" %} {% block content %}
    <h1>My Groups</h1>

    <div class="row row-cols-3 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <img
                    src="https://source.unsplash.com/VMGAbeeJTKo/200x200"
                    class="img-fluid rounded-start"
                    alt="..."
                />
                <div class="card-body">
                    <h5 class="card-title">Jane</h5>
                    <p class="card-text">Caring for Jane.</p>
                    <a href="/groups/jane" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
