{% extends "base.html" %} {% block content %}
    <h1>
        <img
            class="rounded-circle"
            src="https://source.unsplash.com/VMGAbeeJTKo/50x50"
            alt=""
        />
        Jane's group
    </h1>

    <div class="row">
        <div class="col">
            <h2>Activities</h2>

            <div class="card mb-2">
                <div class="card-body">
                    <p class="card-title">
                        <i class="bi-calendar-event"></i>
                        Appointment

                        <img
                            class="rounded-circle float-end"
                            src="https://source.unsplash.com/SPcFpXIME6M/25x25"
                            alt=""
                        />
                    </p>
                    <p class="text-muted">December, 25th 2021</p>

                    <a href="#" class="btn btn-outline-primary btn-sm float-end"
                    >Participate</a
                        >
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-body">
                        <p class="card-title">
                            <i class="bi-cart"></i>
                            Shopping

                            <img
                                class="rounded-circle float-end"
                                src="https://source.unsplash.com/SPcFpXIME6M/25x25"
                                alt=""
                            />

                            <img
                                class="rounded-circle float-end"
                                src="https://source.unsplash.com/_H6wpor9mjs/25x25"
                                alt=""
                            />
                        </p>
                        <p class="text-muted">December, 26th 2021</p>

                        <a href="#" class="btn btn-outline-primary btn-sm float-end"
                        >Participate</a
                            >
                        </div>
                    </div>

                    <div class="card mb-2">
                        <div class="card-body">
                            <p class="card-title">
                                <i class="bi-camera-video"></i>
                                Call

                                <img
                                    class="rounded-circle float-end"
                                    src="https://source.unsplash.com/SPcFpXIME6M/25x25"
                                    alt=""
                                />

                                <img
                                    class="rounded-circle float-end"
                                    src="https://source.unsplash.com/_H6wpor9mjs/25x25"
                                    alt=""
                                />
                            </p>
                            <p class="text-muted">December, 27th 2021</p>

                            <a href="#" class="btn btn-outline-primary btn-sm float-end"
                            >Participate</a
                                >
                            </div>
                        </div>

                        <div class="card mb-2">
                            <div class="card-body">
                                <p class="card-title">
                                    <i class="bi-house"></i>
                                    Housework

                                    <img
                                        class="rounded-circle float-end"
                                        src="https://source.unsplash.com/SPcFpXIME6M/25x25"
                                        alt=""
                                    />

                                    <img
                                        class="rounded-circle float-end"
                                        src="https://source.unsplash.com/_H6wpor9mjs/25x25"
                                        alt=""
                                    />
                                </p>
                                <p class="text-muted">December, 27th 2021</p>

                                <a href="#" class="btn btn-outline-primary btn-sm float-end"
                                >Participate</a
                                    >
                                </div>
                            </div>

                            <div class="card mb-2">
                                <div class="card-body">
                                    <p class="card-title">
                                        <i class="bi-building"></i>
                                        Errand

                                        <img
                                            class="rounded-circle float-end"
                                            src="https://source.unsplash.com/SPcFpXIME6M/25x25"
                                            alt=""
                                        />
                                    </p>
                                    <p class="text-muted">December, 28th 2021</p>

                                    <a href="#" class="btn btn-outline-primary btn-sm float-end"
                                    >Participate</a
                                        >
                                    </div>
                                </div>

                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-title">
                                            <i class="bi-ticket-perforated"></i>
                                            Entertainment

                                            <img
                                                class="rounded-circle float-end"
                                                src="https://source.unsplash.com/SPcFpXIME6M/25x25"
                                                alt=""
                                            />
                                        </p>
                                        <p class="text-muted">December, 29th 2021</p>

                                        <a href="#" class="btn btn-outline-primary btn-sm float-end"
                                        >Participate</a
                                            >
                                        </div>
                                    </div>

                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <p class="card-title">
                                                <i class="bi-tree"></i>
                                                Nature

                                                <img
                                                    class="rounded-circle float-end"
                                                    src="https://source.unsplash.com/_H6wpor9mjs/25x25"
                                                    alt=""
                                                />
                                            </p>
                                            <p class="text-muted">December, 30th 2021</p>

                                            <a href="#" class="btn btn-outline-primary btn-sm float-end"
                                            >Participate</a
                                                >
                                            </div>
                                        </div>

                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <p class="card-title">
                                                    <i class="bi-cup-straw"></i>
                                                    Outing

                                                    <img
                                                        class="rounded-circle float-end"
                                                        src="https://source.unsplash.com/_H6wpor9mjs/25x25"
                                                        alt=""
                                                    />
                                                </p>
                                                <p class="text-muted">December, 31th 2021</p>

                                                <a href="#" class="btn btn-outline-primary btn-sm float-end"
                                                >Participate</a
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-2">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        Members

                                                        <a
                                                            href="#"
                                                            class="btn btn-sm btn-outline-primary rounded-circle float-end"
                                                        >
                                                            <i class="bi-person-plus"></i>
                                                        </a>
                                                    </div>

                                                    <img
                                                        class="rounded-circle"
                                                        src="https://source.unsplash.com/_H6wpor9mjs/50x50"
                                                        alt=""
                                                    />
                                                    <img
                                                        class="rounded-circle"
                                                        src="https://source.unsplash.com/SPcFpXIME6M/50x50"
                                                        alt=""
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
{% endblock content %}
