{% load i18n %}

<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">
            {{ applicant.user.display_name }}
        </div>
        <small class="text-muted">
            {% if applicant.user.last_login %}
                {% blocktranslate with last_login_timesince=applicant.user.last_login|timesince %}
                    Last seen {{ last_login_timesince }} ago
                {% endblocktranslate %}
            {% else %}
                {% translate "Not yet seen" %}
            {% endif %}
        </small>
    </div>
    <div class="d-flex flex-column align-self-center">
        <div>
            <a href="{% url 'update-join-request' person.id applicant.id %}?status=APPROVED" class="btn btn-outline-primary">
                <i class="bi bi-check"></i>
            </a>
            <a href="{% url 'update-join-request' person.id applicant.id %}?status=DENIED" class="btn btn-outline-danger">
                <i class="bi bi-x"></i>
            </a>
        </div>
    </div>
</li>
