{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block content %}

<h1>
    {{ person }}

    {% if person.companionship_score %}
    <small>
        <span class="badge bg-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="left" title="{% translate 'Companionship score' %}">
            {{ person.companionship_score }}
        </span>
    </small>
    {% else %}
    {% endif %}
    

    <a 
        class="btn btn-outline-primary btn-sm rounded-circle"
        href="{% url 'person-update' person.id %}"
        title="{% translate 'Edit person' %}">
        <i class="bi bi-pencil"></i>
    </a>
</h1>

<div class="row">
    <div class="col">
        <h2>
            <i class="bi bi-calendar3"></i>
            {% translate "Upcoming activities" %}
            <button 
                type="button"
                class="btn btn-sm btn-outline-primary rounded-circle"
                data-bs-toggle="modal"
                data-bs-target="#add-activity-modal"
                title="{% translate 'Add activity' %}">
                <i class="bi bi-plus-lg"></i>
            </button>
        </h2>
        {% if person.upcoming_activities.count %}
            {% for activity in person.upcoming_activities %}
                {% include "people/person_activity.html" with activity=activity form=add_activity_form %}
            {% endfor %}
        {% else %}
        <p>{% translate "No activities found." %}</p>
        {% endif %}
    </div>

    <div class="col-md-4 mt-2">
        <!-- Person photo -->
        <img
            src="{{ person.photo|thumbnail_url:'square_thumbnail_400' }}"
            class="img-fluid img-thumbnail mb-3"
            alt="{{ person.name }} care group photo" />
        
        <!-- Annotated companions list -->
        <h2>
            <i class="bi bi-people"></i>
            {% translate "Companions" %}
            <button 
                type="button"
                class="btn btn-sm btn-outline-primary rounded-circle"
                data-bs-toggle="modal"
                data-bs-target="#add-companion-modal"
                title="{% translate 'Add Companion' %}">
                <i class="bi bi-plus-lg"></i>
            </button>
        </h2>

        <ul class="list-group mb-3">
            {% for companion in person.annotated_companions %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            {% if companion.is_organizer %}
                            <i class="bi bi-magic" data-bs-toggle="tooltip" data-bs-placement="left" title="Group coordinator"></i>
                            {% endif %}
                            {{ companion }}
                        </div>
                        <small class="text-muted">
                            {% if companion.user.last_login %}
                                {% blocktranslate with last_login_timesince=companion.user.last_login|timesince %}
                                    Last seen {{ last_login_timesince }} ago
                                {% endblocktranslate %}
                            {% else %}
                                {% translate "Not yet seen" %}
                            {% endif %}
                        </small>
                    </div>
                    
                    <span class="badge bg-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="left" title="{% translate 'Companionship score' %}">
                        {{ companion.activity_count }}
                    </span>
                </li>
            {% endfor %}
        </ul>

        <!-- Applicants list -->
        <h2>
            <i class="bi bi-people"></i>
            {% translate "Applicants" %}
        </h2>

        <ul class="list-group">
            {% for applicant in person.join_requests.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            {{ applicant.user.display_name }}
                        </div>
                        <small class="text-muted">
                            {% if applicant.user.last_login %}
                                {% blocktranslate with last_login_timesince=applicant.user.last_login|timesince %}
                                    Last seen {{ last_login_timesince }} ago
                                {% endblocktranslate %}
                            {% else %}
                                {% translate "Not yet seen" %}
                            {% endif %}
                        </small>
                    </div>
                    <div class="d-flex flex-column align-self-center">
                        <div>
                            <button 
                                type="button"
                                class="btn btn-outline-success rounded-circle"
                                data-bs-toggle="modal"
                                data-bs-target="#applicant-confirmation-modal"
                                data-applicant-id="{{ applicant.id }}"
                                data-applicant-name="{{ applicant.user.display_name }}"
                                data-applicant-status="APPROVED"
                                title="{% translate 'Accept applicant' %}">
                                <i class="bi bi-check"></i>
                            </button>
                            <button 
                                type="button"
                                class="btn btn-outline-danger rounded-circle"
                                data-bs-toggle="modal"
                                data-bs-target="#applicant-confirmation-modal"
                                data-applicant-id="{{ applicant.id }}"
                                data-applicant-name="{{ applicant.user.display_name }}"
                                data-applicant-status="REJECTED"
                                title="{% translate 'Reject applicant' %}">
                                <i class="bi bi-x"></i>
                            </button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% include "people/person_add_activity_modal.html" %}

{% include "people/person_invite_companion_modal.html" %}

<!-- Applicant confirmation modal -->
<div class="modal fade" id="applicant-confirmation-modal" tabindex="-1" aria-labelledby="applicant-confirmation-modal-label" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <p class="modal-title" id="applicant-confirmation-modal-label">
            {% translate "Accept applicant" %}
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form>
        <div class="mb-3">
            <label for="applicant-id" class="col-form-label">Applicant:</label>
            <input type="text" class="form-control" id="applicant-id">
        </div>
        <div class="mb-3">
            <label for="applicant-status" class="col-form-label">Status:</label>
            <input type="text" class="form-control" id="applicant-status">
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {% translate "Cancel" %}
        </button>
        <button type="button" class="btn btn-primary">
            {% translate "Submit" %}
        </button>
    </div>
    </div>
</div>
</div>

{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock extra_css %}

{% block extra_js %}
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script type="text/javascript">
    var clipboard = new ClipboardJS('#copy-invitation-button');
    
    // TODO: indicate to user that the invitation code was copied,
    // E.g., via a tooltip or toast

    flatpickr('#id_activity_date');
</script>


<script type="text/javascript">
    // Applicant button pressed
    var applicantConfirmationModal = document.getElementById('applicant-confirmation-modal');

    applicantConfirmationModal.addEventListener('show.bs.modal', function (event) {
        // Get the button that triggered the modal
        var button = event.relatedTarget;

        // Extract applicant data from button data- attributes
        var applicantId = button.getAttribute('data-applicant-id');
        var applicantName = button.getAttribute('data-applicant-name');
        var applicantStatus = button.getAttribute('data-applicant-status');

        // Select the modal content that should change
        var modalTitle = applicantConfirmationModal.querySelector('.modal-title')
        var applicantIdInput = applicantConfirmationModal.querySelector('#applicant-id')
        var applicantStatusInput = applicantConfirmationModal.querySelector('#applicant-status')

        // Update modal content with desired data
        modalTitle.textContent = 'Accept applicant ' + applicantName;
        applicantIdInput.value = applicantId;
        applicantStatusInput.value = applicantStatus;
    });
</script>
{% endblock extra_js %}
