{% load i18n %}
{% load crispy_forms_tags %}

<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-1 fs-3 d-flex flex-column">
                <i class="{{ activity.icon }}"></i>
            </div>
            <div class="col">
                <p class="card-title mt-1 mb-0">{{ activity }}</p>
                <p class="text-muted mb-0">{{ activity.activity_date }}</p>
                {% if activity.note %}
                    <p class="text-muted mb-0">
                        {{ activity.note }}
                    </p>
                {% endif %}

                {% if activity.remaining_eligible_participants.count %}
                <button
                    type="button"
                    title="{% translate 'Add' %}"
                    style="border: none;"
                    class="badge rounded-pill bg-default text-dark"
                    data-bs-toggle="modal"
                    data-bs-target="#add-activity-participant-modal-{{ activity.id }}"
                >
                    <i class="bi bi-person"></i>
                    {% translate 'Add' %}
                    <i class="bi bi-plus-lg"></i>
                </button>
                {% endif %}
                
                {% if user not in activity.participants.all %}
                <form action="{% url 'activity-add-participant' activity.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button
                        type="submit"
                        title="{% translate 'Participate' %}"
                        style="border: none;"
                        class="badge rounded-pill bg-success"
                    >
                        <i class="bi bi-person"></i>
                        {% translate 'Join' %}
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </form>
                {% endif %}

                {% if activity.participants.count %}
                    {% for participant in activity.participants.all %}
                        {% if user in person.organizers %}
                        <!-- group organizers can remove other participants -->
                        <form action="{% url 'activity-remove-participant' activity.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ participant.id }}">
                            <button 
                                type="submit"
                                style="border: none;"
                                class="badge rounded-pill bg-primary">
                                    <i class="bi bi-person"></i>
                                    {{ participant.display_name }}
                                    <i class="bi bi-x-lg"></i>
                            </button>
                        </form>
                        {% elif participant.id == user.id %}
                        <!-- participant can remove self -->
                        <form action="{% url 'activity-remove-participant' activity.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button 
                                type="submit"
                                style="border: none;"
                                class="badge rounded-pill bg-primary">
                                    <i class="bi bi-person"></i>
                                    {{ participant.display_name }}
                                    <i class="bi bi-x-lg"></i>
                            </button>
                        </form>
                        {% else %}
                        <!-- display participant without remove button by default -->
                        <span class="badge rounded-pill bg-primary">
                            <i class="bi bi-person"></i>
                            {{ participant.display_name }}
                        </span>
                        {% endif %}
                        
                    {% endfor %}
                {% else %}
                    <span class="badge rounded-pill bg-warning text-dark">{% translate "No participants" %}</span>
                {% endif %}


            </div>
            <div class="col-2 pr-0 d-flex flex-column align-items-end justify-content-between">
                <button 
                    type="button"
                    title="{% translate 'Edit activity' %}"
                    class="btn btn-sm btn-outline-primary rounded-circle"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-activity-modal-{{ activity.id }}">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit activity modal -->
<div class="modal fade" id="edit-activity-modal-{{ activity.id }}" tabindex="-1" aria-labelledby="edit-activity-modal-label-{{ activity.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-activity-modal-label-{{ activity.id }}">
                    {% translate "Edit activity" %}
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'activity-update' activity.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="person" value="{{ person.id }}">


                    {{ add_activity_form.activity_type.label_tag }}
                    <select class="form-select mb-2" aria-label="Activity type select" name="activity_type">
                        {% for value, text in form.activity_type.field.choices %}
                            <option value="{{ value }}"
                                {% if activity.activity_type == value %}selected="selected"{% endif %}>
                                {{ text }}
                            </option>
                        {% endfor %}
                    </select>
                    
                    {{ add_activity_form.activity_date.label_tag }}
                    <input 
                        type="text" 
                        name="activity_date" 
                        value="{{ activity.activity_date | date:'c' }}"
                        class="dateinput form-control mb-2" 
                        required="" 
                        id="id_activity_date">
                    
                    {{ add_activity_form.note.label_tag }}
                    <input
                        type="text" 
                        name="note"
                        {% if activity.note %}
                        {% comment %}Prevent empty activity note from displaying as None{% endcomment %}
                        value="{{ activity.note }}"
                        {% endif %}
                        class="form-control mb-2" 
                        id="id_note">
                    <p id="hint_id_note" class="form-text text-muted mx-2">
                        {{ add_activity_form.note.help_text | safe }}
                    </p>
                    
                    <button type="submit" class="btn btn-success ml-auto">
                        {% translate "Save" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Add activity participant modal -->
<div class="modal fade" id="add-activity-participant-modal-{{ activity.id }}" tabindex="-1" aria-labelledby="add-activity-participant-modal-label-{{ activity.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-activity-participant-modal-label-{{ activity.id }}">
                    {% translate "Add participant" %}
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'activity-add-participant' activity.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <select class="form-select mb-2" aria-label="Participant select" name="user_id">
                        {% for companion in activity.remaining_person_companions %}
                            <option value="{{ companion.id }}">
                                {{ companion.display_name }}
                            </option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-success ml-auto">
                        {% translate "Save" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
