{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block content %}

<h1>
    {{ person }}

    {% if person.companionship_score %}
    <small>
        <span class="badge bg-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="left" title="{% translate 'Companionship score' %}">
            {{ person.companionship_score }}
        </span>
    </small>
    {% else %}
    {% endif %}
    

    <a 
        class="btn btn-outline-primary btn-sm rounded-circle"
        href="{% url 'person-update' person.id %}"
        title="{% translate 'Edit person' %}">
        <i class="bi bi-pencil"></i>
    </a>
</h1>

<div class="row">
    <div class="col">
        <h2>
            <i class="bi bi-calendar3"></i>
            {% translate "Upcoming activities" %}
            <button 
                type="button"
                class="btn btn-sm btn-outline-primary rounded-circle"
                data-bs-toggle="modal"
                data-bs-target="#add-activity-modal"
                title="{% translate 'Add activity' %}">
                <i class="bi bi-plus-lg"></i>
            </button>
        </h2>
        {% if person.upcoming_activities.count %}
            {% for activity in person.upcoming_activities %}
                {% include "people/person_activity.html" with activity=activity form=add_activity_form %}
            {% endfor %}
        {% else %}
        <p>{% translate "No activities found." %}</p>
        {% endif %}
    </div>

    <div class="col-md-4 mt-2">
        <!-- Person photo -->
        <img
            src="{{ person.photo|thumbnail_url:'square_thumbnail_400' }}"
            class="img-fluid img-thumbnail mb-3"
            alt="{{ person.name }} care group photo" />
        
        <!-- Annotated companions list -->
        <h2>
            <i class="bi bi-people"></i>
            {% translate "Companions" %}
            <button 
                type="button"
                class="btn btn-sm btn-outline-primary rounded-circle"
                data-bs-toggle="modal"
                data-bs-target="#add-companion-modal"
                title="{% translate 'Add Companion' %}">
                <i class="bi bi-plus-lg"></i>
            </button>
        </h2>

        <ul class="list-group mb-3">
            {% for companion in person.annotated_companions %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            {% if companion.is_organizer %}
                            <i class="bi bi-magic" data-bs-toggle="tooltip" data-bs-placement="left" title="Group coordinator"></i>
                            {% endif %}
                            {{ companion }}
                        </div>
                        <small class="text-muted">
                            {% if companion.user.last_login %}
                                {% blocktranslate with last_login_timesince=companion.user.last_login|timesince %}
                                    Last seen {{ last_login_timesince }} ago
                                {% endblocktranslate %}
                            {% else %}
                                {% translate "Not yet seen" %}
                            {% endif %}
                        </small>
                    </div>
                    
                    <span class="badge bg-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="left" title="{% translate 'Companionship score' %}">
                        {{ companion.activity_count }}
                    </span>
                </li>
            {% endfor %}
        </ul>

        <!-- Applicants list -->
        <h2>
            <i class="bi bi-people"></i>
            {% translate "Applicants" %}
        </h2>

        <ul class="list-group">
            {% for applicant in person.join_requests.all %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            {{ applicant.user.display_name }}
                        </div>
                        <small class="text-muted">
                            {% if applicant.user.last_login %}
                                {% blocktranslate with last_login_timesince=applicant.user.last_login|timesince %}
                                    Last seen {{ last_login_timesince }} ago
                                {% endblocktranslate %}
                            {% else %}
                                {% translate "Not yet seen" %}
                            {% endif %}
                        </small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% include "people/person_add_activity_modal.html" %}

{% include "people/person_invite_companion_modal.html" %}

{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock extra_css %}

{% block extra_js %}
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script type="text/javascript">
    var clipboard = new ClipboardJS('#copy-invitation-button');
    
    // TODO: indicate to user that the invitation code was copied,
    // E.g., via a tooltip or toast

    flatpickr('#id_activity_date');
</script>
{% endblock extra_js %}
