{% load i18n %}

<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto flex-column">
        <span class="badge bg-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="left" title="{% translate 'Companionship score' %}">
            {{ companion.activity_count }}
        </span>

        <span class="fw-bold">
            {{ companion }}
        </span>

        {% if companion.is_organizer %}
            <i class="bi bi-magic" data-bs-toggle="tooltip" data-bs-placement="left" title="Group coordinator"></i>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-sm btn-outline-danger rounded-circle" title="Remove companion">
        <i class="bi bi-dash"></i>
    </button>
</li>
