{% load crispy_forms_tags %}
{% load i18n %}

<!-- Add Activity modal -->
<div class="modal fade" id="add-activity-modal" tabindex="-1" aria-labelledby="add-activity-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-activity-modal-label">
                    {% translate "Add activity" %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'activity-create' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="person" value="{{ person.id }}">
                    {{ add_activity_form.activity_type|as_crispy_field }}
                    {{ add_activity_form.activity_date|as_crispy_field }}
                    {{ add_activity_form.note|as_crispy_field }}
                    <button type="submit" class="btn btn-success ml-auto">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>